<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>


    <a href="/logout">Logout</a><br/>
    <a href="/make_transaction">Make a transaction</a><br/>
    <a href="/get_trans_list">Get Transactions in range</a>

</body>
</html>
