<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<form action="/account_summmary_2" method="post">

</form>

<a href="/logout">Logout</a><br/>
<a href="/make_transaction">Make a transaction</a><br/>
<a href="/get_trans_list">Get Transactions in range</a>

</body>
</html>
