<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<h1><%= title %></h1>
<p>
<form action="/get_trans_list/get_list" method="post">
    <input type="text" placeholder="From Date" name="from"  required />
    <input type="text" placeholder="To Date" name="to"  required />
    <input type="submit" value="Commit Transaction" />
</form>
<a href="/banking">Back to Account Summary</a><br>
<a href="/logout">Logout</a>
</p>
</body>
</html>
