<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(!user){ %>
      <a href="/login">Login</a>
    <% } %>

    <% if(user){ %>
      <p>You are currently logged in as: <%= user.username %></p>

      <a href="/logout">Logout</a>
    <% } %>

  </body>
</html>
