<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body bgcolor="#E6E6FA">
<h1 style="text-align: center;"> Welcome to India Bank <h1> <br> <br>
<h1><%= title %></h1> <br> <br>
<p align="center">
    <form action="/login" method="post">
        <h4> Enter your Username </h4>
        <input type="text" placeholder="Username" name="username"  required />
        <h4> Enter your password </h4>
        <input type="password" placeholder="Password" name="password"  required /> <br> <br>   
        <h4> Fill the CAPTCHA </h4>
        <div class="g-recaptcha" data-sitekey="6LehzHIUAAAAAGgJLF3K8ggErBnuxZUOb3R7CHm8"></div> <br>
        <input type="hidden" value="<%= otp %>" name="otp">
        <input type="text" id="otp" placeholder="OTP" name="otp1"  required /> <br> <br>

    <input type="submit" value="Login" /> 
    </form> <br> <br>
    <a target="_blank">Click on the SUBMIT Button below to get your OTP
    <form action="/otp" method="post" target="_blank">
        <input type="hidden" value="<%= otp %>" name="otp">
        <input type="submit">
    </form>
    </a>
</p>
</body>
</html>
