<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<h1><%= title %></h1>
<p>
<form action="/make_transaction/do_transfer" method="post">
    <select name="toAccount">
        <option value="avinash_2">Own Account</option>
        <option value="dwaraka">Dwaraka - Internal User</option>
        <option value="saurabh">Saurabh - External User</option>
        <option value="ronak">Ronak - External User</option>
    </select>
    <!--<input type="number" placeholder="To Account" name="toAccount"  required />-->
    <input type="number" placeholder="amount" name="amount" required/>
    <input type="submit" value="Commit Transaction"/>
</form>
<a href="/banking">Back to Account Summary</a><br/>
<a href="/logout">Logout</a>
</p>
</body>
</html>
