<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body oncontextmenu="return false">
<h1><%= title %></h1>
<script>
 document.onkeydown = function(e) {
    if (e.ctrlKey && (e.keyCode === 67 || e.keyCode === 86 || e.keyCode === 85 ||     e.keyCode === 117 || e.keycode === 17 || e.keycode === 85)) {
        alert('not allowed');
    }
    return false;
};
</script>
<a href="/logout">Logout</a><br/>
<a href="#">View Money</a><br/>
<a href="/merchant">Transfer / Receive Funds</a></br>
<a href="#">Edit Information</a></br>
<a href="#">Authorize</a></br>

</body>
</html>
