<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<a href="/logout">Logout</a><br/>
<a href="#">View Money</a><br/>
<a href="/merchant">Transfer / Receive Funds</a></br>
<a href="#">Edit Information</a></br>
<a href="#">Authorize</a></br>

</body>
</html>
